@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
// vars
$primaryColor: #00023D;
$secundaryColor: #181DDA;
$whiteColor: white;
$blackColor: black;
$grayColor: gray;

// fonts
$primaryFont: 'Roboto', sans-serif;

// fontSize

$FontSize_s: 1.6rem ;
$FontSize_m: 1.8rem ;
$FontSize_l: 2.2rem ;
$fontSize_xl: 2.4rem ;








