.info_header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-direction: column;
	height: 100%;
}

.img_header {
	max-width: 20rem;
	min-height: 20rem;
	border-radius: 50%;
}

.info_section {
	color: $whiteColor;
	padding: 2rem;
	h1 {
		font-size: $FontSize_l;
		letter-spacing: 0.4rem;
	}
	h2 {
		font-size: $FontSize_m;
		font-weight: 400;
		font-style: italic;
		margin: 0.2rem;
	}
}
.icons_section {
	display: flex;
}
.button_icons {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0.5rem;
	background: none;
	border-radius: 200px;
	border: none;
	max-width: 5rem;
	max-height: 5rem;
	transition: all 0.5s;
	img{
		max-width: 5rem;
		max-height: 5rem;
	}
	&:hover{
		cursor: pointer;
		background-color: $secundaryColor;
		box-shadow:0 0 2rem $secundaryColor;
		transition: all 0.5s;
		transform: rotateZ(15deg);
	}
}

.buttons_section {
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	padding: auto	;
}